<div id="show">
<div class="area">
  <h1 class="text-center">We couldn't find any summit here :(</h1>

</div>
  <%= link_to summits_path, :class => "back-link" do %>
    <div class="back-link area">
      <h1 class="text-center"><i class="fa fa-long-arrow-left"></i> Back to List</h1>
    </div>
  <% end %>
</div>