// Place all the styles related to the summits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
 
  form {
    padding-bottom: 10px;
  }
  
}

#show, #edit {
  
  .back-link{
    background-color: $text-color;
    color: $background-color;
    border: none;
    width: 100%;
  }
  
  .back-link h1, input.back-link {
   
      font-size: 4em; 
  }
  
  .back-link:hover {
    text-decoration: none; 
  } 
  
}

#edit {
  
  small {
    color: $background-color2; 
  }
  
  label {
    font-weight: bold;
    text-decoration: underline;
  }
  
  label.normal {
    font-weight: normal;
    text-decoration: none;
  }
  
  .form-group:last-of-type {
    margin-bottom: 0px; 
  }
  
  .field_with_errors {
    display: inline; 
    
    input, textarea {
      border-color: red;
    }
  }
  
  .form-control {
    display: inline;
  }
  
  input {
  }
  
  .input-hidden input,
  .input-hidden select {
    border: none;
    box-shadow: none;
    background-color: inherit;
    text-align: center;
    width: 100%;
    font-size: inherit;
  }
  
  .input-hidden select {
    height: 50px; 
  }
  
  .input-hidden .field_with_errors input {
    border: 1px solid red; 
    border-radius: 4px;
  }
  
  .input-hidden .datetimepicker {
    //text-align: left;
    display: inline;
    width: 200px !important;
    //width: 150px;
  }
  
  .split-3 input, .split-3 select {
    width: 30%; 
  }
  
  h1 {
    padding: 0px 0px 10px 0px; 
  }

  h3 {
    font-weight: bold;
    padding: 0 0 10px 0;
  }
  
  .area {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .category {
    font-weight: bold;
  }
  
  .facts {
    
    table {
      width: 100%;
      
      td:first-of-type {
        width: 40px;
        padding-right: 15px;
      }
    }
    
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    
    td {
      vertical-align: top;
      text-align: left;
    }
  
  }
    
}

#show {
  h1 {
    padding: 0px 0px 10px 0px; 
  }

  h3 {
    font-weight: bold;
    padding: 0 0 10px 0;
  }
  
  small {
    color: $background-color2; 
  }
  
  .area {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .category {
    font-weight: bold;
  }

  hr {
    border-color: $background-color2;    
  }
  
  .facts {

    table {
      width: 100%;
      
      td:first-of-type {
        width: 40px;
        padding-right: 15px;
      }
    }
    
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    
    td {
      vertical-align: top;
      text-align: left;
    }
  
  }
    
}

.table-links {
  display: table;
    
  .thead {
    display: table-header-group;
  }
  
  .tbody {
    display: table-row-group;
  }
  
  // STANDARD ROW
  .tbody > a,
  .thead > a {
    display: table-row;
    
    // STANDARD CELL
    div {
      padding: $padding-base-vertical $padding-base-horizontal;
      display: table-cell;
      color: $text-color;
      //white-space: pre-line;
    }
    
    /*div:first-of-type {
      @media (min-width: $screen-md-min) {
        padding-left: 50px !important;
      }
      border-left: none;
    }*/
  }
  
  /*.tbody > a:nth-child(2n+1) > div {
    background-color: darken($background-color, 0%);
  }*/
  
  .tbody > a.odd {
    background-color: darken($background-color, 0%);
  }
  
  // remove text decoration
  a:hover, a:focus {
    text-decoration: none; 
  }
    
  // white highlight on mouse over
  .tbody > a:hover > div,
  .tbody > a:focus > div {
      background-color: lighten($text-color, 20%) !important;
      color: $brand-primary;
  }
  
  // TABLE HEADER
  .thead > a {
    
    div {
      color: $text-color2;
      border-left: 1px solid $text-color;
      border-bottom: 2px solid $text-color;
      border-top: 1px solid $gray-lighter;
      background: -webkit-linear-gradient(rgba(255, 255, 255, 1.0),rgba($text-color, .3) ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba(255, 255, 255, 1.0),rgba($text-color, .3) ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba(255, 255, 255, 1.0),rgba($text-color, .3) ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba(255, 255, 255, 1.0),rgba($text-color, .3) ); /* Standard syntax */
      font-weight: bold;
      cursor: pointer;
      
      // prevent selectability
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    div:not(:first-of-type):hover {
      background-color: $text-color; 
    }
    
    div:first-of-type {
      width: 20px; // limit width of settings button to 20px 
    }
    
    // left site settings button
    div:first-of-type,
    div:nth-child(2) {
      border-left: none; 
    }
  }
  
}


.fa.text-muted {
  color: rgba(255, 255, 255, .1);
}

.summit-project_stages {
  white-space: nowrap;
}

  .back-link{
    background-color: $text-color;
    color: white;
  }
  
  .back-link:hover {
    text-decoration: none; 
  }