<div id="edit">

  <div class="back-link area">
      <h1 class="text-center"><i class="fa fa-long-arrow-left"> </i> You are in edit mode.</h1>
</div>
  
  <%= render partial: "summits/form", locals: {submit_text: "Save Changes"} %>
  
</div>