<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Social Summit List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  
<%= yield %>

  <button id="feedbackButton" style="position: fixed; border-bottom-right-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; right:-1px; bottom: -1px;" class="btn btn-danger"><i class="fa fa-bullhorn fa-lg"></i> Give Us Feedback</button>
  
  <div style="position: fixed; top:0%; left:0%; width: 100%; height:100%; background-color: rgba(255, 255, 255, .5); display: none;"></div>
  
  <iframe style="position: fixed; top: 10%; bottom: 10%; height: 80%; left:10%; right:10%; width:80%; background-color: white; border: 1px solid black; display: none;" src="https://feedback.userreport.com/43f42805-51f8-4e57-8ce8-2e9742598ae5/"></iframe>
</body>
</html>
